################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ulearn/FileContentIndex/5c31e46b-626e-40cb-80c2-73703facac0e.vsidx
