################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ulearn/FileContentIndex/5c31e46b-626e-40cb-80c2-73703facac0e.vsidx
/.vs/Ulearn/FileContentIndex/1650114f-2ff0-4dfe-af03-1847f0885d59.vsidx
/.vs/Ulearn/FileContentIndex/45931cbc-e5cd-4cfe-90f7-d597f16e8478.vsidx
/.vs/Ulearn/FileContentIndex/78f9c363-7b32-4e1b-b2ee-15657c6346d6.vsidx
/.vs/Ulearn/FileContentIndex/b6a78fb8-708a-428a-b38c-c2115a11fe0e.vsidx
/.vs/Ulearn/FileContentIndex/d84adc59-9a7e-48a8-89a4-af6e7b3e702b.vsidx
/.vs/Ulearn/FileContentIndex/74d2ced2-7d45-4533-a5e9-836047237115.vsidx
/.vs/Ulearn/FileContentIndex/eb1b995c-1351-4668-bb5c-914801d05868.vsidx
/.vs/Ulearn/FileContentIndex/a47a3d0e-83b0-48c7-959c-09a9ec9052f6.vsidx
/.vs/Ulearn/FileContentIndex
