* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.site-title {
    font-size: 2rem;
}

/*navbar div properties, applies to all navbar elements*/
.nav {
    background-color: #0f1c74;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
} 
/*navbar list element properties*/
.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: .25rem;
    padding-right: .25rem;
    padding-bottom: .7rem;
}

.nav li.active {
    background-color: #555;
}

.nav li:hover {
    background-color: #2f3c94;
}

.languages {
    align-content: start;
}

.Info-entry {
    display: flex;
    align-content: center;
    margin: auto;
}

.Body {
    padding-left: 15px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.FILLER {
    padding-left: 10px;
    text-align: left;
}

.sign-up {
    margin-right: 5px;
}

.login {
    margin-left: 10px;
}

p {
    padding-left: 10px;
    text-align: left;
}

.Paragraph-box {
    width: 200px;
    height: 300px;
    overflow-wrap: break-word;
}

.Container {
    height: 200px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Item {
    width: 10em;
}

.sidebar-references {
    text-decoration: none;
}

.Section-header {
    padding-left: 10px;
}

/*landing page div, applies to all landing page elements*/
.Landing {
    position: relative;
    color: #ffffff;
    background-image: url("./Assets/Landing-page-background.png");
    background-size: 100% 100%;
    width: 99vw;
    height: 120vh;
    background-color: #050505;
    display: flex;
}

/*landing page header*/
.Landing-header {
    text-align: center;
    width: 180%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 70px;
}

.Landing-title {
    font-size:35px;
}

/*First bold word of each landing page paragraphs*/
.Bold-word {
    font-weight: bold;
    display: inline-flex;
}

/*landing page paragraphs*/
.Landing-text {
    width: 180%;
    text-align: center;
    margin:auto;
    font-family: "Inter", sans-serif;
    padding-bottom: 60px;
}



/*landing page entry button*/
.Landing-entry {
    align-content: center;
    background-color: #0f1c74;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    align-self: flex-end;
    text-decoration: none;
    padding: 10px 30px;
    cursor: pointer;
    transition-duration: 0.2s;
    border-radius: 10px;
    position: absolute;
    bottom: 180px;
    right: 380px;
}

/*landing page entry button hover properties*/
.Landing-entry:hover {
        background-color: #ffffff;
        color: #0f1c74;
}

.Page-header {
    align-content: center;
    text-align: center;
}

.Container {

}
